@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    font-family: "Nanum Gothic", sans-serif;
}

body{
    background-color: rgb(239, 184, 171);
}

#title{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}

#introduction{
    text-align: center;
    font-size: 20px;
    color: brown;
}

#container{
    width: 80%;
    border: 6px dotted whitesmoke;
    background-color: rgba(245, 245, 245, 0.636);
    margin: auto;
    margin-top: 80px;
}

#pic{
    border: 2px solid #bcbcbc;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

img{
    height: 230px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 15px;
}

.description{
    text-align: left;
    display: inline-block;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

div {
    text-align: center;
  }